[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[ v3_req ]
basicConstraints = CA:False
keyUsage = nonRepudiation,
subjectAltName = @alt_names
[alt_names]
DNS.1=dev.kubemaster.com
DNS.2ame=kubernetes
DNS.3=kubernetes.default
DNS.4=kubernetes.default.svc
DNS.5=kubernetes.default.svc.cluster.local
IP.1=10.96.0.1
IP.2=192.168.XXX.XXX
